mixin slider(props)
    .slider&attributes(attributes)
        .slider__header header
        .slider__container
            .slider__container-slide 1
            .slider__container-slide 2
            .slider__container-slide 3
        .slider__footer footer
